#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  color: black;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #faf7f7;
  padding: 10px;
}

.logoImage {
  width: 100px;
}
ul {
  list-style: none;
  text-align: left;
  padding: 10px 5px;
}
ul li {
  font-size: 22px;
  padding: 10px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #faf7f7;
}
