#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  color: black;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #0060b5;
  /* box-shadow: 4px 0px 6px 1px #ae9cc6; */
  padding: 10px;
}
.nav h3 {
  color: #0060b5;
  text-transform: uppercase;
  font-weight: 900;
}

.logoImage {
  width: 100px;
}
.app-container {
  display: flex;
}
.side {
  background: #fffaf5;
  width: 250px;
}
.link-styles {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 26px;
  color: #0060b5;
}
.sidebar {
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.main-content {
  flex: 1;
}

ul {
  list-style: none;
  text-align: left;
  padding: 10px 5px;
}
ul li {
  font-size: 22px;
  padding: 10px 0px;
}
.card-container,
.details {
  border: 1px solid white;
  box-shadow: 2px 1px 8px 3px #d1d1d1;
  margin: 20px auto;
  /* width: 60%; */
  padding: 20px;
}

/* .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 20px;
} */

.card-container img {
  width: 350px;
}
.card-container button,
.details button {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border: 2px solid #0060b5;
  font-size: 20px;
  border-radius: 5px;
}

.details img {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #74b197; */
  padding: 50px 20px;
  margin-bottom: 20px;
  background-image: url("./images/44.webp");
  background-size: cover;
  height: 50vh;
}
form label {
  margin: 10px;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}
form input {
  width: 500px;
  line-height: 35px;
  border: 1px solid white;
}
form select {
  width: 500px;
  height: 40px;
  padding: 7px 0px;
  border: 1px solid white;
}
form button {
  background-color: #0060b5;
  font-size: 20px;
  border: 1px solid white;
  padding: 12px;
  border-radius: 8px;
  margin-top: 30px;
  width: 30%;
}
.about-us {
  background-color: #0060b5;
  padding: 50px;
  color: white;
  margin: 0px;
}
.new-perspectives {
  background-color: #1a171b;
  color: white;
  display: flex;
}
.new-perspectives img {
  width: 400px;
}
.about-us h2 {
  margin: 0px;
  padding: 50px;
  font-size: 50px;
}
.new-perspectives h3 {
  margin: 0px;
  padding: 50px;
  font-size: 50px;
}
.about-us p,
.new-perspectives p {
  font-size: 30px;
  padding-bottom: 50px;
}
.footer {
  text-align: center;
  padding: 10px;
  border-top: 2px solid #0060b5;
}
